.header {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 64px;
  }
  
  .left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .nav {
    display: flex;
    gap: 1rem;
  }
  
  .langBtn {
    cursor: pointer;
    color: #1677ff;
    font-weight: 500;
  }
  